.App {
  text-align: center;
}

video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
z-index: -1;
}

p{
  color: rgb(56, 56, 56);
  font-size: 35px;
}

button{
  width: 200px;
  height: 50px;
  border: none;
  font-size: 15px;
  background-color: rgba(255, 255, 252, 0.8);
}

button:hover{
  background: rgba(222, 222, 219, 0.8);
}

.block{
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
  margin: 200px;
}

@media all and (max-width:800px){
  .block{
    margin: 100px;
  }
}

@media all and (max-width:500px){
  .block{
    margin: 100px;
  }
}